doctype htmls
html
  head
    title Forager
    link(rel='icon', href='/img/search-icon.PNG')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(href='https://fonts.googleapis.com/css?family=Lato|Raleway:200,300,400', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/styles.css')
    .background-image(style='background-image: url(img/intro.jpg)')
        .home-content-area
          h1#title Forager
  body
    section
      .info-section
        p We are Forager and we help you study!
        p Forager is a project created by Akshath Sivaprasad and Vivek Srivats as part of CS 194: Computing for Social Good at Berkeley.

    .footer-help-links
      .help-links
        a(href='/') Search
        a(href='/help') Help
