doctype htmls
html
  head
    title Forager
    link(rel='icon', href='/img/search-icon.PNG')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(href='https://fonts.googleapis.com/css?family=Lato|Raleway:200,300,400', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/styles.css')
    .background-image(style='background-image: url(img/intro.jpg)')
        .home-content-area
          h1#title Forager
  body
    section
      .info-section
        p Search terms like "CS61a" or "recursion"
        p Search based on term (fall), year (2016), and teacher (Denero!)


    .footer-help-links
      .help-links
        a(href='/search') Search
        a(href='/about') About

