doctype htmls
html
  head
    title Forager
    link(rel='icon', href='/img/search-icon.PNG')
    link(href='https://fonts.googleapis.com/css?family=Lato|Raleway:200,300,400', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/sidebar.css')
    link(rel='stylesheet', href='/css/tabs.css')
    link(rel='stylesheet', href='/css/question.css')
  body
    header#question-navbar
      .navbar-title.logo.unselectable
        .logo-text
            a(href="/")="FORAGER"
        .logo-loc
            a(href="/")=question._source.school
      .tabs-wrapper
        button.tab.active(name="question") Question
        button.tab(name="solution") Solution
    .question-area
      #question.tab-content.active
        include includes/question-info
        .image-container
          img.scaled-image(src='/img/question.PNG', onclick=`navigate('${question._source.src_link}')`)
      #solution.tab-content
        include includes/question-info
        .image-container
          img.scaled-image(src='/img/solution.PNG', onclick=`navigate('${question._source.src_link}')`)
    script(src='https://code.jquery.com/jquery-3.2.1.slim.js', integrity='sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg=', crossorigin='anonymous')
    script(src='/js/tabs.js')
script.
  function navigate(link) {
    window.location.href = link;
  }
