doctype htmls
html
  head
    link(href='https://fonts.googleapis.com/css?family=Lato|Raleway:200,300,400', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/styles.css')
  body
    .container
      header#question-navbar
        .question-title
          h2=question.course + " " + question.season + " " + question.year + " " + question.category
  section
    .question-area
      .box#question-box
        p=question.content
      .box#answer-box
        p=question.solution
          


