doctype htmls
html
  head
    link(href='https://fonts.googleapis.com/css?family=Lato|Raleway:200,300,400', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/styles.css')
  body
    .container
      header#question-navbar
        .logo
          h2=FORAGER
        .question-title
          h2=question._source.course + " " + question._source.term + " " + question._source.exam_type + " #" + question._source.number 
  section
    .question-area
      .box#question-box
        img.scaled-image#q-img(src='/img/question.PNG')
      .box#answer-box
        #blur
          img.scaled-image#s-img(src='/img/solution.PNG')
        button.button#remove-blur(type='button', onclick='removeBlur()') Show Solution
script.
  var height = Math.max(document.getElementById("q-img").offsetHeight, document.getElementById("s-img").offsetHeight);
  document.getElementById("q-img").style.height = `${height}px`;
  document.getElementById("s-img").style.height = `${height}px`;
  
  function removeBlur() {
    document.getElementById("remove-blur").remove();
    document.getElementById("blur").style.filter = 'blur(0px)';
  }



