.front-title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #FFF;
}

#title {
  font-size: 80px;
  font-weight: 200;
  letter-spacing: 20px;
  text-indent: 20px;
  text-align: center;
  animation-delay: 0.3s;
}

#subtitle {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-top: 5px;
}

#search-box-index {
  margin-top: 40px;
  max-height: 34px;
  animation-delay: 0.3s;
  display: flex;
  justify-content: flex-end;
}