#question-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #EBEBEB;
}

.logo {
  margin: auto;
  margin-right: 30px;
  margin-left: 30px;
  text-transform: uppercase;
}

.logo-text {
  font-size: 36px;
  font-family: 'Raleway';
  letter-spacing: 3px;
  display: inline-block;
  margin-right: 2px;
}

.logo-text a:link {
  text-decoration: none;
  color: #000;
}

.logo-text a:visited {
  text-decoration: none;
  color: #000;
}

.logo-loc {
  font-size: 24px;
  font-family: arial, sans-serif;
  display: inline-block;
  color: #1A237E;
}

.logo-loc a:link {
  text-decoration: none;
  color: #1A237E;
}

.logo-loc a:visited {
  text-decoration: none;
  color: #1A237E;
}

.question-title {
  font-size: 24px;
  font-family: 'robotoregular', arial, sans-serif;
  letter-spacing: 1px;
  color: #777777;
  margin: auto;
  margin-right: 25px;
}

.question-title a:link {
  text-decoration: none;
  color: #777777;
}

.question-title a:visited {
  text-decoration: none;
  color: #777777;
}

.force-table {
  border-spacing: 20px;
  border-collapse: separate;
}

.force-table-row {
  display: table-row;
  line-height: 0;
}

.force-table-cell {
  display: table-cell;
}

.question-area {
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.box {
  position: relative;
  vertical-align: top;
  background: #FFF;
  width: calc(50% - 30px);
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px;
  text-overflow: hidden;
}

#question-box {
  margin-right: 10px;
  padding: 25px;
}

#answer-box {
  margin-left: 10px;
  position: relative;
}

#blur {
  position: relative;
  width: 100%;
  padding: 25px;
  filter: blur(5px); 
}

.scaled-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  cursor: pointer;
  background: rgba(255, 255, 255, .15);
  border: 2px solid #777777;
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
}

.button:hover {
  background: rgba(255, 255, 255, .25);
  border: 2px solid #545454;
  color: #545454;
}

.button:active {
  background: rgba(255, 255, 255, .65);
}

.button:focus {
  outline: 0px;
}

#remove-blur {
  position: absolute;
  height: 50px;
  width: 180px;
  left: calc(50% - 85px);
  top: calc(50% - 25px);
}