  /*General Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px 'Lato';
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
}

section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Homepage Styles*/
.home-content-area {
  width: 60%;
}

#title {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 20px;
  text-align: center;
  color: #FFF;
  animation-delay: 0.3s;
}

/*Search Styles*/
.search {
  display: flex;
  margin-top: 70px;
  max-height: 34px;
  justify-content: flex-end;
}

.big-bar {
  width: 60vw;
}

.small-bar {
  width: 40vw;
}

.search-box {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2vw;
}

#search-box {
  display: flex;
  justify-content: flex-end;
}

#search-bar {
  position: absolute;
  height: 34px;
  text-align: center;
  outline: none;
  border: 0;
  border-radius: 20px;
  animation-delay: 0.3s;
  font-size: 20px;
  font-family: 'Lato';
}

#search-button {
  outline: none;
  width: 60px;
  height: 34px;
  z-index: 1;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  background: #3F51B5;
  color: white;
}

#search-button:hover {
  background: #303F9F;
}

#search-button:active {
  background: #1A237E;
}


/*Results Styles*/
.result-search-area {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 15vh;
  background: #E0E0E0;
}

.result-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.result-area {
  width: 75%;
  padding: 10px 10px;
}

.result {
  margin: 30px 0;
}

.result-header {
  display: flex;
  margin-bottom: 10px;
}

.result-header > h3 {
  font-size: 24px;
  margin-right: 20px;
}
