.tabs-wrapper {
  position: absolute;
  right: 25px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
}

.tab {
  width: 80px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1px;
  padding: 0px 10px;
  margin-bottom: -1px;
  color: #454545;
  background-color: #F7F7F7;
  border: 0px;
  border-bottom: 1px solid #EBEBEB;
}

.tab:focus {
  outline: 0;
}

.tab.active {
  color: #0D77E2;
  background-color: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-bottom: 0px;
}

.tab-content {
  width: 100%;
  padding: 25px 28px;
  display: none;
}

.tab-content.active {
  display: inherit;
}

.tab-section {
  margin-bottom: 15px;
}

.tab-title {
  font-size: 28px;
  color: #0D77E2;
  margin-bottom: 10px;
}

.tab-h1 {
  font-size: 20px; 
  font-weight: 400;
  color: #454545;
  margin-bottom: 5px;
}

.tab-text {
  font-size: 16px;
  color: #999999;
}

.tab-body {
  font-size: 14px;
  font-weight: 400;
  color: #454545;
  line-height: 18px;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word; 
  letter-spacing: 1px;
  font-family: Arial, sans-serif;
}
